<h3>{{i18n 'topic_default_tag.title'}}</h3>
<section class='field default-tag'>
  <div class="default-tag">
  <label>{{i18n 'topic_default_tag.default_tag'}}</label>
    {{input type="list" value=category.custom_fields.default_tag }}
  </div>
</section>
